* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;

}
a, li {
    text-decoration: none;
    list-style-type:none;
}
body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 2em;
    color: white;
    text-align: center;

    background-image: url('../images/background_2.webp');

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}
.button:hover {
    letter-spacing: var(--em);
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
.button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
.button span {
     position: relative;
}
.button i {
    position: absolute;
    inset: 0;
    display: block;
}
.button i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background:#27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}
.button:hover i::before {
    width: 20px;
    left: 20%;
}

.button i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    transform: translateX(-50%);
    background:#27282c;
    transition: 0.5s;
}
.button:hover i::after {
    width: 20px;
    left: 80%;
}


.footer {
    background: black;
    width: 100%;
    height: 100px;
    line-height: 6.3;
    
    bottom: 0;
    left: 0;
}

.loaded .preloader {
    display: none;
}
.loaded .body, .loaded .footer {
    display: contents;
}
.loaded .footer {
    display: block;
}
.loaded_hiding .body, .loaded_hiding .footer {
    display: none;
}
.body {
    width: 100%;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background: #042104;
    animation: animateColor 8s linear infinite;
}
.preloader .container {
    display: flex;
}
.preloader .container .circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 -7.5px;
}
.preloader .container .circle .preloader-span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}
.preloader .container .circle .preloader-span::before {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    background: #00ff0a;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff0a,
    0 0 20px #00ff0a,
    0 0 40px #00ff0a,
    0 0 60px #00ff0a,
    0 0 80px #00ff0a,
    0 0 100px #00ff0a;
    transform: scale(0.1);
    animation: animate 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    50%,100% {
        transform: scale(0.1);
    }
}
.preloader .container .circle:nth-child(2) {
    transform: rotate(-180deg);
}
.preloader .container .circle:nth-child(2) .preloader-span::before {
    animation-delay: calc(-0.1s * var(--i));
}

@keyframes animateColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.preloader-text {
    position: fixed;
    margin-top: -300px;
}

.skin {
    position: relative;
}

.skin:before {
    position: absolute;
    content: "";
    width: 160px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    margin-left: -80px;
}

.skin-img {
    position: relative;
    width: 140px;
}


img {
    max-width: 100%;
    display: block;
}

.general-data__skin {
    background: radial-gradient(#c92e2e 0,transparent 73%) 50%/450px 450px no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.main-data {
    display: flex;
}
.main-data__nickname {
    font-weight: 900;
    font-size: 45px;
}
.level {
    position: relative;
    text-align: center;
    margin-left: 2em;
}
.level:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 35px;
    border: 8px solid #c92e2e;
    top: 0;
    left: calc(50% - 27.5px);
    transform: skew(-15deg,0) rotate(-15deg);
    box-shadow: 0 0 25px 5px #c92e2e;
}
.level__value {
    font-weight: 900;
    font-size: 45px;
    line-height: 40px;
    margin-top: 8px;
    position: relative;
}
.level__desc {
    color: #6278c6;
    font-size: 15px;
    margin-top: 1.5em;
}

.game-server.server-1 {
    background-image: url(../images/phoenix.webp);
}
.game-server:before {
    position: absolute;
    margin-left: -75px;
    content: attr(data-number);
    width: 50px;
    height: 45px;
    border: 10px solid #c92e2e;
    transform: skew(-15deg,0) rotate(-15deg);
    box-shadow: 0 0 25px 5px #c92e2e;
    font-weight: 900;
    font-size: 49px;
    line-height: 45px;
    font-style: italic;
    text-align: center;
}

.game-server__name {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 5px;
}

.data {
    gap: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-data {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    margin: 90px auto 0;
    max-width: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.red {
    color: #dc3545;
}

.contact {
    max-height: 75%;
    height: 100%;

    display: grid;
    justify-content: center;
    align-items: center;
}
.contact-nav, .hobby-nav {
    height: 100%;
}
.hobby {
    max-height: 75%;
    height: 100%;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.hobby-1 img {
    width: 50px;
    height: 50px;
}
.hobby-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
a {
    text-decoration: none;
    color: white;
}



.hobby-2 img {
    width: 50px;
    height: 50px;
}
.hobby-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}



.hobby-3 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.hobby-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.hobby-4 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.hobby-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.update {
    color:#6278c6;
}










@media screen and (max-width: 1190px) {
    .general-data__skin {
        background: radial-gradient(#c92e2e 0,transparent 73%) 50%/350px 350px no-repeat;
    }

    @media screen and (max-width: 980px) {
        .general-data__skin {
            background: radial-gradient(#c92e2e 0,transparent 73%) 50%/250px 250px no-repeat;
        }
        @media screen and (max-width: 847px) {
            .general-data {
                display: contents;
                gap: 2em;
            }
            .general-data__skin {
                background: radial-gradient(#c92e2e 0,transparent 73%) 50%/450px 450px no-repeat;
            }
            .hobby {
                gap: 1.5em;
            }
            .contact {
                gap: 1.5em;
            }

            .contact-nav > h1 {
                margin-bottom: 20px;
            }
            .hobby-nav {
                margin-bottom: 20px;
                margin-top: 20px;
            }

            @media screen and (max-width: 670px) {
                .loaded .footer {
                    line-height: unset;
                    align-items: center;
                    display: flex;
                }

                .data {
                    display: grid;
                    gap: 1em;
                }
            }
        }
    }
}
